[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment[pt_BR]=
Comment=
Exec=krunner
GenericName[pt_BR]=
GenericName=
Icon=/usr/share/pixmaps/icon-run.svg
MimeType=
Name=Run
Name[bg]=Извършвам
Name[cs]=Provést
Name[da]=Gøre
Name[de]=Ausführen
Name[el]=Εκτελώ
Name[es]=Realizar
Name[et]=Sooritada
Name[fi]=Suorittaa
Name[fr]=Exécuter
Name[he]=לבצע
Name[hr]=Izvesti
Name[hu]=Előad
Name[is]=Vinna
Name[it]=Eseguire
Name[ja]=実行する
Name[ko]=연주하다
Name[nl]=Uitvoeren
Name[no]=Fremføre
Name[pl]=Wykonać
Name[pt]=Executar
Name[ro]=Efectua
Name[ru]=Выполнять
Name[sk]=Vykonať
Name[sv]=Utföra
Name[tr]=Oynamak
Name[uk]=Виконувати
Name[zh]=执行
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
