@import 'colors.css';

windowcontrols button {
    padding: 2;
}

windowcontrols button.close image.normal-icons {
    border: 0px;
    border-radius: 50px ;
}

.csd, headerbar, decoration {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup  * {
border-radius: 8px;
border: 0;
}

menuitem {
min-height: 22px;
padding-top: 2px;
padding-bottom: 2px;
}