@import '/usr/share/themes/Breeze/gtk-4.0/gtk.css';
@import 'colors.css';

.csd {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

flap placessidebar scrolledwindow viewport list {
	/*border: 1px solid #fff;*/
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

box grid button {
 	border-radius: 6px;
	box-shadow: 0px 1px 2px 0px alpha(@theme_fg_color_breeze, 0.2); 
	border: 0;
	margin:  1px;
 	transition: all 0.4s ease 0s;
}


headerbar {
	padding: 0px 12px;
	margin-top: -8px;
	margin-bottom: -8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


headerbar button {
	border-color: transparent;
}

menubutton button {
	background: transparent;
}

headerbar button:hover {
	background-color: @theme_button_decoration_hover_insensitive_breeze;
}


headerbar windowcontrols button,
.titlebar windowcontrols button {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-height: 24px;
    min-width: 24px;
    -gtk-icon-size: 18px;
    /*  padding: 0;
    margin-top: -14px;
    padding-top: 28px;
    margin-bottom: -14px;
    padding-bottom: 28px; */
}


list {
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}



list row:hover {
	background-color: @theme_button_decoration_hover_insensitive_breeze;
}

.navigation-sidebar {
	box-shadow: 0px 0px 14px 0px alpha(@theme_fg_color_breeze, 0.2); 
}


.navigation-sidebar .sidebar-row {
	border-radius: 8px;
}

.navigation-sidebar .sidebar-row:hover {
	box-shadow: 0px 0px 4px 0px alpha(@theme_fg_color_breeze, 0.2); 
}



flap placessidebar  list.navigation-sidebar row {
/*border: 1px solid #fff;*/
}

flap placessidebar  list.navigation-sidebar row:hover {
    /*border: 1px solid #fff;*/
    background-color: #00000011;
}

flap placessidebar  list.navigation-sidebar row:hover {
    /*border: 1px solid #fff;*/
    background-color: #00000066;
}


flap placessidebar  list.navigation-sidebar {
    /*border: 1px solid #fff;*/
    box-shadow: none;
}



headerbar box stack menubutton button.toggle {
	/*border: 1px solid #fff;*/
	margin-right: 10px;
}

toastoverlay flap placessidebar scrolledwindow viewport list  row.sidebar-row {
	/* border: 1px solid #fff; */
	margin: 0 5px;
	min-height: 24px;
	border-radius: 5px;
}


popover arrow  {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: none;
}

popover modelbutton:hover {
	border-radius: 8px;
}

popover modelbutton {
    padding: 6px;
    border-radius: 6px;
    border: 0;
}

popover contents {
	margin-top: -10px;
	border-radius: 8px;
	opacity: 1;
	background-color: @theme_base_color;
	box-shadow: 0px 0px 14px 0px alpha(@theme_fg_color_breeze, 0.2); 
	padding: 6px;
}

  popover contents, popover.background contents {
    padding: 4px;
    background-color: mix(@theme_bg_color_breeze,@theme_base_color_breeze,0.3);
    border: 1px solid @borders_breeze;
    border-radius: 8px; }


popover > arrow, popover.background > arrow {
    padding: 0px;
    background-color: transparent;
    border: 0px solid @borders_breeze;
}


/* START FIX TO WINDOWCONTROLS BUTTON     */
  headerbar windowcontrols button.close,
  .titlebar windowcontrols button.close {
    background-image: none; }
  headerbar windowcontrols button.close:hover,
  .titlebar windowcontrols button.close:hover {
    background-image: none; }
  headerbar windowcontrols button.close:active,
  .titlebar windowcontrols button.close:active {
    background-image: none; }
  headerbar windowcontrols button.close:backdrop, headerbar windowcontrols label:backdrop selection.close, label:backdrop headerbar windowcontrols selection.close,
  .titlebar windowcontrols button.close:backdrop,
  .titlebar windowcontrols label:backdrop selection.close,
  label:backdrop .titlebar windowcontrols selection.close {
    background-image: none; }
  headerbar windowcontrols button.maximize,
  .titlebar windowcontrols button.maximize {
    background-image: none; }
  headerbar windowcontrols button.maximize:hover,
  .titlebar windowcontrols button.maximize:hover {
    background-image: none; }
  headerbar windowcontrols button.maximize:active,
  .titlebar windowcontrols button.maximize:active {
    background-image: none; }
  headerbar windowcontrols button.maximize:backdrop, headerbar windowcontrols label:backdrop selection.maximize, label:backdrop headerbar windowcontrols selection.maximize,
  .titlebar windowcontrols button.maximize:backdrop,
  .titlebar windowcontrols label:backdrop selection.maximize,
  label:backdrop .titlebar windowcontrols selection.maximize {
    background-image: none; }
  headerbar windowcontrols button.minimize,
  .titlebar windowcontrols button.minimize {
    background-image: none; }
  headerbar windowcontrols button.minimize:hover,
  .titlebar windowcontrols button.minimize:hover {
    background-image: none; }
  headerbar windowcontrols button.minimize:active,
  .titlebar windowcontrols button.minimize:active {
    background-image: none; }
  headerbar windowcontrols button.minimize:backdrop, headerbar windowcontrols label:backdrop selection.minimize, label:backdrop headerbar windowcontrols selection.minimize,
  .titlebar windowcontrols button.minimize:backdrop,
  .titlebar windowcontrols label:backdrop selection.minimize,
  label:backdrop .titlebar windowcontrols selection.minimize {
    background-image: none; }
  .maximized headerbar windowcontrols button.maximize, .maximized .titlebar windowcontrols button.maximize {
    background-image: none; }
  .maximized headerbar windowcontrols button.maximize:hover, .maximized .titlebar windowcontrols button.maximize:hover {
    background-image: none; }
  .maximized headerbar windowcontrols button.maximize:active, .maximized .titlebar windowcontrols button.maximize:active {
    background-image: none; }
  .maximized headerbar windowcontrols button.maximize:backdrop, .maximized headerbar windowcontrols label:backdrop selection.maximize, label:backdrop .maximized headerbar windowcontrols selection.maximize, .maximized .titlebar windowcontrols button.maximize:backdrop, .maximized .titlebar windowcontrols label:backdrop selection.maximize, label:backdrop .maximized .titlebar windowcontrols selection.maximize {
    background-image: none; }


  headerbar windowcontrols button image,
  .titlebar windowcontrols button image {
    color: inherit; }
    

.minimize image, .close image, .maximize image {
background-color: transparent;
}

/* END FIX TO WINDOWCONTROLS BUTTON     */



headerbar windowcontrols button.minimize image:hover {
	background: @theme_button_decoration_hover_breeze;
	color: @theme_titlebar_foreground_breeze;
	border-radius: 50%;
}

headerbar windowcontrols button.maximize image:hover {
	background: @theme_button_decoration_hover_breeze;
	color: @theme_titlebar_foreground_breeze;
	border-radius: 50%;
	
}

headerbar windowcontrols button.close image:hover {
	background: @error_color_breeze;
    color: @theme_button_foreground_active_breeze;
	border-radius: 50%;
}

windowcontrols.end {
	margin-right: -10px;
	margin-left: 10px;
}

windowcontrols.start {
	margin-left: -10px;
	margin-right: 10px;
}