[Desktop Entry]
Exec=big-theme-gui
Icon=big-theme-gui
Name=BigLinux Themes
Name[bg]=Теми на BigLinux
Name[cs]=Témata BigLinux
Name[da]=BigLinux Temaer
Name[de]=BigLinux-Themen
Name[el]=Θέματα BigLinux
Name[es]=Temas de BigLinux
Name[et]=BigLinuxi teemad
Name[fi]=BigLinux-teemat
Name[fr]=Thèmes BigLinux
Name[he]=ערכות נושא של BigLinux
Name[hr]=Teme za BigLinux
Name[hu]=BigLinux Témák
Name[is]=BigLinux þemu
Name[it]=Temi BigLinux
Name[ja]=BigLinuxのテーマ
Name[ko]=BigLinux 테마
Name[nl]=BigLinux Thema's
Name[no]=BigLinux Temaer
Name[pl]=Motywy BigLinux
Name[pt]=Temas do BigLinux
Name[ro]=Teme BigLinux
Name[ru]=Темы BigLinux
Name[sk]=Motívy BigLinux
Name[sv]=BigLinux Teman
Name[tr]=BigLinux Temaları
Name[uk]=Теми BigLinux
Name[zh]=BigLinux 主题
StartupNotify=true
Terminal=false
Type=Application
