[Unit]
Description=Latte dock
After=plasma-ksmserver.service plasma-kcminit.service plasma-xdg-desktop-portal-kde.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/latte-dock-start
Type=simple
#BusName=org.kde.lattedock
#Slice=session.slice
#TimeoutSec=40sec

[Install]
WantedBy=plasma-core.target
