@import 'colors.css';
@import '/usr/share/themes/Breeze-Dark/gtk-4.0/gtk.css';

.minimize image, .close image, .maximize image {
background-color: transparent;
}

popover arrow  {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: none;
}

popover contents {
	margin-top: -10px;
	padding: 6px;
}

popover > arrow, popover.background > arrow {
    padding: 0px;
    background-color: transparent;
    border: 0px solid @borders_breeze;
}
