@import 'colors.css';
@import '/usr/share/themes/Breeze-Dark/gtk-4.0/gtk.css';

.csd {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

flap placessidebar scrolledwindow viewport list {
	/*border: 1px solid #fff;*/
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

box grid button {
 	border-radius: 6px;
	box-shadow: 0px 1px 2px 0px alpha(@theme_fg_color_breeze, 0.2); 
	border: 0;
	margin:  1px;
 	transition: all 0.4s ease 0s;
}


headerbar {
	padding: 0px 12px;
	margin-top: -8px;
	margin-bottom: -8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


headerbar button {
	border-color: transparent;
}

menubutton button {
	background: transparent;
}

headerbar button:hover {
	background-color: @theme_button_decoration_hover_insensitive_breeze;
}


headerbar windowcontrols button,
.titlebar windowcontrols button {
    /*  border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-height: 24px;
    min-width: 24px;*/
    -gtk-icon-size: 18px;
    /*  padding: 0;
    margin-top: -14px;
    padding-top: 28px;
    margin-bottom: -14px;
    padding-bottom: 28px; */
}





list {
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}



list row:hover {
	background-color: @theme_button_decoration_hover_insensitive_breeze;
}

.navigation-sidebar {
	box-shadow: 0px 0px 14px 0px alpha(@theme_fg_color_breeze, 0.2); 
}


.navigation-sidebar .sidebar-row {
	border-radius: 8px;
}

.navigation-sidebar .sidebar-row:hover {
	box-shadow: 0px 0px 4px 0px alpha(@theme_fg_color_breeze, 0.2); 
}



flap placessidebar  list.navigation-sidebar row {
/*border: 1px solid #fff;*/
}

flap placessidebar  list.navigation-sidebar row:hover {
    /*border: 1px solid #fff;*/
    background-color: #00000011;
}

flap placessidebar  list.navigation-sidebar row:hover {
    /*border: 1px solid #fff;*/
    background-color: #00000066;
}


flap placessidebar  list.navigation-sidebar {
    /*border: 1px solid #fff;*/
    box-shadow: none;
    background-color:00000066;
}


headerbar windowhandle widget windowcontrols image.icon  {
    margin-left: 10px;
}

widget headerbar windowhandle widget windowcontrols image.icon  {
    -gtk-icon-size: 22px;
    margin-left: 10px;
    margin-right: -8px;
}

windowcontrols button {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-height: 16px !important;
    height: 16px !important;
    max-height: 16px !important;
    min-width: 18px;
    -gtk-icon-size: 16px;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    /*  padding: 0;
    margin-top: -14px;
    padding-top: 28px;
    margin-bottom: -14px;
    padding-bottom: 28px; */
}


windowcontrols button.close image.normal-icons {
    /*border: 1px solid #fff;*/
}

windowcontrols button.close image.normal-icons {
    /* border: 10px solid #2f343f; */
    border: 0px;
    border-radius: 50px ;
}

windowcontrols button.close:hover {
    /* border: 1px solid #a90f21; */ 
    /* border: 1px solid #2f343f; */
    border-radius: 50px;
    background-color: #da4453;
    color: #fff;
}

windowcontrols button.maximize:hover {
    /* border: 1px solid #3b6ab7; */
    /* border: 1px solid #2f343f; */
    border-radius: 50px;
    background-color: #92beff;
}

windowcontrols button.minimize:hover {
    /* border: 1px solid #3b6ab7; */
    /* border: 1px solid #2f343f; */
    border-radius: 50px;
    background-color: #92beff;
}

headerbar box stack menubutton button.toggle {
	/*border: 1px solid #fff;*/
	margin-right: 10px;
}

toastoverlay flap placessidebar scrolledwindow viewport list  row.sidebar-row {
	/* border: 1px solid #fff; */
	margin: 0 5px;
	min-height: 24px;
	border-radius: 5px;
}

.minimize image, .close image, .maximize image {
background-color: transparent;
}


windowcontrols .minimize:hover {
	background: #428afe;
	/*color: #fff;*/
	border-radius: 50%;
}

windowcontrols .maximize:hover {
	background: #428afe;
	/*color: #fff;*/
	border-radius: 50%;
	
}

windowcontrols .close:hover {
	background: #da4453;
	/*color: #fff;*/
	border-radius: 50%;
}

popover arrow  {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: none;
}

popover modelbutton:hover {
	border-radius: 8px;
}

popover modelbutton {
    padding: 6px;
    border-radius: 6px;
    border: 0;
}

popover contents {
	margin-top: -10px;
	border-radius: 8px;
	opacity: 1;
	background-color: @theme_base_color;
	box-shadow: 0px 0px 14px 0px alpha(@theme_fg_color_breeze, 0.2); 
	padding: 6px;
}

  popover contents, popover.background contents {
    padding: 4px;
    background-color: mix(@theme_bg_color_breeze,@theme_base_color_breeze,0.3);
    border: 1px solid @borders_breeze;
    border-radius: 8px; }


popover > arrow, popover.background > arrow {
    padding: 0px;
    background-color: transparent;
    border: 0px solid @borders_breeze;
}
